{% load static %}

<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="{% static "participants/jquery-v3.4.1/jquery-3.4.1.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "participants/bootstrap-4.3.1-dist/css/bootstrap.min.css" %}"/>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Participant List</h1>
        </div>
        <table class="table">
            <tbody>
                {% for form in formset %}
                    <tr>                        
                        {% for field in form %}
                            <td object="{{ form.id.value }}">{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $(":input").each(function() {
                if (!this.id.includes("review")) {
                    this.disabled = true;
                }
            })
        })

        $(":input").on('change', function(event) {
            rev_value = this.value;
            console.log(this);
            obj_id = $(this).parent().attr('object');
            $.ajax({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                type: 'POST',
                url: 'review/' + obj_id + '/' + rev_value + '/' 
            })
        })
    </script>
</body>





</html>